<div class="col-md-12" ng-controller="applicantController as vm">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title"> <i class="fa fa-plus"></i> Register {{applicant_label}} </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" ng-submit="vm.save(applicant)" ng-if="!showSponsorForm">
              <div class="col-md-12">
              <div class="col-md-5">
                  <div class="form-group">
                      <label for="first_name">First Name</label>
                      <input id="first_name" name="first_name" type="text"   ng-model="applicant.first_name" class="form-control" placeholder="First Name" required="">
                  </div>
                  <div class="form-group">
                      <label for="middle_name">Middle Name</label>
                      <input id="middle_name" name="middle_name" type="text" ng-model="applicant.middle_name" class="form-control" placeholder="Middle Name" required="">
                  </div>
                  <div class="form-group">
                      <label for="last_name">Last Name</label>
                      <input id="last_name" name="last_name" type="text" ng-model="applicant.last_name" class="form-control" placeholder="Last Name" required="">
                  </div>
                  <div class="form-group">
                      <label for="gender">Gender</label>
                      <select id="gender" name="gender" ng-model="applicant.gender" class="form-control">
                          <option>Male</option>
                          <option>Female</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="birth_date">Birth Date</label>

                          <input datepicker id="birth_date" name="birth_date" type="text" ng-model="applicant.birth_date" class="form-control" placeholder="Birth Date" required="">


                  </div>
                  <div class="form-group">
                      <label for="occupation_app">Occupation</label>
                      <select id="occupation_app" name="occupation" type="text"  ng-model="applicant.occupation" ng-change="checkOccupation(applicant.occupation)"  class="form-control" placeholder="Occupation" required="">
                          <option>Entreprenour</option>
                          <option>Employed</option>
                      </select>

                  </div>


              </div>
                  <div class="col-md-2"></div>
              <div class="col-md-5">
                  <div class="form-group">
                      <label for="phone">Phone</label>
                      <input id="phone" name="phone" type="text"  ng-model="applicant.phone"  class="form-control" placeholder="Phone" required="">
                  </div>
                  <div class="form-group">
                      <label for="postal_address">Postal Address</label>
                      <input id="postal_address" name="postal_address" type="text"  ng-model="applicant.postal_address"   class="form-control" placeholder="Postal Address" required="">
                  </div>
                  <div class="form-group">
                      <label for="marital_status">Marital Status</label>
                      <select id="marital_status" name="marital_status" type="text"  ng-model="applicant.marital_status"   class="form-control" placeholder="Marital Status" required="">
                          <option>Single</option>
                          <option>Married</option>
                          <option>Divorced</option>
                          <option>Widow</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="residence">Residence</label>
                      <input id="residence" name="residence" type="text"  ng-model="applicant.residence" class="form-control" placeholder="Residence" required="">
                  </div>
                  <div class="form-group">
                      <label for="birth_date">Family Size</label>
                      <input id="family_size" name="family_size" type="text"  ng-model="applicant.family_size"  class="form-control" placeholder="Family Size" required="">
                  </div>

                  <div class="form-group" ng-if="vm.group_sponsor">
                      <label for="group">Group</label>
                      <select id="group" class="form-control" ng-model="applicant.group_id">
                          <option ng-repeat="group in vm.groups" value="group.id">{{group.name}}</option>
                      </select>
                      </div>
{{applicant.salary}}
                  <div class="form-group" ng-if="isEmployed">
                      <label for="salary">Salary</label>
                      <input id="salary" name="salary" type="text"  ng-model="applicant.salary"   class="form-control" placeholder="Salary" required="">
                  </div>

              </div>
              </div>

                <div class="col-md-12">
                    <div class="col-md-6 col-lg-offset-3">
                        <div class="col-sm-12 form-group text-center">
                            <input class="btn btn-primary"  type="submit" value="Register">
                            <input class="btn btn-warning"  type="reset" value="Reset">
                            <a class="btn btn-danger"  href="#/applicants"  >Cancel</a>
                        </div>
                    </div>
                </div>
            </form>

            <form class="form-horizontal" role="form" ng-if="showSponsorForm">
                <h4 style="text-align:center;">Applicant Sponsor Registration</h4><br/>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="birth_date">Sponsor Type</label>
                        <select class="form-control" ng-model="sponsor_type" ng-change="vm.stateSponsor(sponsor_type)">
                            <option value="individual">Individual</option>
                            <option value="group">Group</option>
                        </select>
                    </div>
                </div>
            </form>

            <form class="form-horizontal" role="form" ng-submit="vm.saveSponsor(sponsor)" ng-if="vm.individual_form">

                <div class="col-md-12" >
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input id="first_name" name="first_name" type="text"   ng-model="sponsor.first_name" class="form-control" placeholder="First Name" required="">
                        </div>
                        <div class="form-group">
                            <label for="middle_name">Middle Name</label>
                            <input id="middle_name" name="middle_name" type="text" ng-model="sponsor.middle_name" class="form-control" placeholder="Middle Name" required="">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input id="last_name" name="last_name" type="text" ng-model="sponsor.last_name" class="form-control" placeholder="Last Name" required="">
                        </div>
                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select id="gender" name="gender" ng-model="sponsor.gender" class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="occupation">Occupation</label>
                            <input id="occupation" type="text" name="occupation" ng-model="sponsor.occupation" class="form-control" />
                        </div>



                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input id="phone" name="phone" type="text"  ng-model="sponsor.phone"  class="form-control" placeholder="Phone" required="">
                        </div>
                        <div class="form-group">
                            <label for="postal_address">Postal Address</label>
                            <input id="postal_address" name="postal_address" type="text"  ng-model="sponsor.postal_address"   class="form-control" placeholder="Postal Address" required="">
                        </div>
                        <div class="form-group">
                            <label for="marital_status">Marital Status</label>
                            <select id="marital_status" name="marital_status" type="text"  ng-model="sponsor.marital_status"   class="form-control" placeholder="Marital Status" required="">
                                <option>Single</option>
                                <option>Married</option>
                                <option>Divorced</option>
                                <option>Widow</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="residence">Residence</label>
                            <input id="residence" name="residence" type="text"  ng-model="sponsor.residence" class="form-control" placeholder="Residence" required="">
                        </div>




                    </div>
                </div>


                <div class="col-md-12">
                    <div class="col-md-6 col-lg-offset-3">
                        <div class="col-sm-12 form-group text-center">
                            <input class="btn btn-primary"  type="submit" value="Register">
                            <input class="btn btn-warning"  type="reset" value="Reset">
                            <a class="btn btn-danger"  href="#/applicants"  >Cancel</a>
                        </div>
                    </div>
                </div>
            </form>


            <form class="form-horizontal" role="form" ng-submit="vm.saveGroupSponsor(group_id)" ng-if="vm.group_sponsor">

                <div class="col-md-12">
                <div class="form-group" >
                    <label for="group">Group</label>
                    <select id="group" class="form-control" ng-model="group_id">
                        <option ng-repeat="group in vm.groups" value="{{group.id}}">{{group.name}}</option>
                    </select>
                </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6 col-lg-offset-3">
                        <div class="col-sm-12 form-group text-center">
                            <input class="btn btn-primary"  type="submit" value="Register">
                            <input class="btn btn-warning"  type="reset" value="Reset">
                            <a class="btn btn-danger"  href="#/applicants"  >Cancel</a>
                        </div>
                    </div>
                </div>
            </form>

            <div class="col-md-12">
                <div class="alert alert-success " ng-if="success">Sonsor <b> {{current.first_name}} {{current.middle_name}} {{current.last_name}}  </b> Registered Successfully.</div>
                <div class="alert alert-warning" ng-if="failure">Sonsor <b> {{current.first_name}} {{current.middle_name}} {{current.last_name}}  </b> Fail Registration.</div>
            </div>
        </div>
    </div>
</div>