<div class="col-md-12" ng-controller="loanController as vm">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title"> <i class="fa fa-plus"></i> Edit Loan Type </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" ng-submit="vm.editLoanType(loanInfo)">

                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input id="name" name="name" type="text"   ng-model="loanInfo.name" class="form-control" placeholder="Name" required="">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="code">Code:</label>
                                <input  id="code" name="code" type="text" ng-model="loanInfo.code" class="form-control" placeholder="Code" required="">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="principle_amount">Principle Amount:</label>
                                <input id="principle_amount" name="principle_amount" type="text"   ng-model="loanInfo.principle_amount" class="form-control" placeholder="Principle Amount" required="">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="interest_rate">Interest Rate:</label>
                                <input id="interest_rate" name="interest_rate" type="text"   ng-model="loanInfo.interest_rate" class="form-control" placeholder="Interest Rate" required="">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-12">

                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="loan_duration">Loan Duration:(Months)</label>
                                <input id="loan_duration" name="loan_duration" type="text"   ng-model="loanInfo.loan_duration" class="form-control" placeholder="Loan Duration" required="">
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="repayment_period">Repayment Period:</label>
                                <input id="repayment_period" name="repayment_period" type="text"   ng-model="loanInfo.repayment_period" class="form-control" placeholder="Repayment Period" required="">
                            </div>
                        </div>

                    </div>
                </div>



                <div class="col-md-12">
                    <div class="col-md-6 col-lg-offset-3">
                        <div class="col-sm-12 form-group text-center">
                            <input class="btn btn-primary"  type="submit" value="Update">
                            <input class="btn btn-warning"  type="reset" value="Reset">
                            <a class="btn btn-danger"  href="#/settings/loans"  >Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-md-12">
                <div class="alert alert-success " ng-if="success">Loan <b> {{current.name}}</b> Updated Successfully.</div>
                <div class="alert alert-warning" ng-if="failure">Loan <b> {{current.name}} </b> Updating Fail.</div>
            </div>
        </div>
    </div>
</div>