
<div class="panel profile-panel" ng-controller="applicationController as grantApp">
    <div class="panel-heading panel-visible">
        <div class="panel-title"> <i class="fa fa-file-text-o"></i>
            New Application Form
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-submit="grantApp.addApplication(applicant)">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="applicant">Applicant</label>
                            <select id="applicant" ng-model="applicant" class="form-control" >
                                <option>Select Applicants</option>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Register">
                </form>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

</div>

