
<div class="panel profile-panel" ng-controller="applicationController as grantApp">
    <div class="panel-heading panel-visible">
        <div class="panel-title"> <i class="fa fa-user"></i>
            Loan Granting Form
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-submit="grantApp.grantLoan(grantApplication)">
                    <div class="thumbnail">
                        <div class="form-group">
                            <label  class="control-label col-sm-3">Applicant Name</label>
                            <div class="col-sm-9">
                                {{applicationInfo.applicants.first_name}} {{applicationInfo.applicants.middle_name}} {{applicationInfo.applicants.last_name}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="control-label col-sm-3">Applied Loan</label>
                            <div class="col-sm-9">
                                {{applicationInfo.loan.name}} ({{applicationInfo.loan.code}})
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="control-label col-sm-3">Applied Amount (in Tsh)</label>
                            <div class="col-sm-9">
                                {{applicationInfo.applied_amount}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label  class="control-label col-sm-3">Collateral</label>
                            <div class="col-sm-9">
                                {{applicationInfo.collateral}}   -  value  ({{applicationInfo.collateral_value}})
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Date Applied</label>
                            <div class="col-sm-9">
                                {{applicationInfo.created_at}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Comments</label>
                            <div class="col-sm-9">
                                {{applicationInfo.comments}}
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail">
                        <h3>Granting Loan</h3>

                        <input type="hidden"  name="id" ng-model="grantApplication.applicant_id" class="ng-pristine ng-untouched ng-valid" value="">
                        <input type="hidden"  name="id" ng-model="grantApplication.id" class="ng-pristine ng-untouched ng-valid" value="">

                        <div class="form-group">
                            <div class="col-sm-6">Return Interval<input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="grantApplication.return_interval" placeholder="Return Interval" required="required" type="text" value=""> </div>
                            <div class="col-sm-6">Interval Type<br>
                                <select class="form-control " ng-model="grantApplication.interval_type"  name="interval_type"  required="required">
                                    <option>Weeks</option>
                                    <option>Months</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">Loan Due Date (Expected)<br><input datepicker class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="grantApplication.loan_actual_due_date" placeholder="Loan Due Date" required="required" name="residense" type="text" value=""> </div>
                            <div class="col-sm-6">Loan Duration (in Months)<br><input class="form-control hasDatepicker ng-pristine ng-untouched ng-valid" ng-model="grantApplication.loan_duration" placeholder="Loan Duration" name="birthdate" type="text" value=""  required="required" > </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">Total Amount To Return<br><input  class="form-control " ng-model="grantApplication.amount_to_return" placeholder="Total Amount To Return" required="required" name="amount_to_return" type="text" value=""> </div>
                            <div class="col-sm-6">Amount Per Return<br><input  class="form-control " ng-model="grantApplication.amount_per_return" placeholder="Amount Per Return" required="required" name="amount_per_return" type="text" value=""> </div>
                        </div>

                    </div>
                    <div class="form-group text-center">
                        <input class="btn btn-primary" type="submit" value="Grant">
                        <input class="btn btn-warning" type="reset" value="Reset">
                        <a ng-href="#/applications" class="btn btn-danger"><i class="fa fa-times"></i> Cancel</a>
                    </div>
                </form>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

</div>

